<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.videojocs.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap" rel="stylesheet">
    <link rel="icon" href="../img/GTA.jpg">
    <title>Grand Theft Auto V</title>
</head>
<header>TOP 5 VIDEOJUEGOS</header>
<body>
    <div class="row">
        <div class="column-100">
            <h4><strong>Grand Theft Auto V</strong></h4>
            <p>Grand Theft Auto (GTA) es una serie de videojuegos creada por David Jones y por los hermanos Sam y Dan Houser. Originalmente fue desarrollada por la compañía británica DMA Design, que posteriormente pasó a llamarse Rockstar North, de la empresa Rockstar Games.</p>
        </div>
    </div>
    <div class="row">
        <div class="column-55">
            <nav>
                <ul>
                  <li><a href="../index.html">Página principal</a></li>
                  <li><a href="../view/videojoc2.html">EA FC 24</a></li>
                  <li><a href="../view/videojoc2.html">NBA 2K24</a></li>
                  <li><a href="../view/videojoc4.html">F1 24</a></li>
                  <li><a href="../view/videojoc5.html">Raimbow Six Siege</a></li>
                </ul>
            </nav>
        </div>
        <div class="column-45">
            <iframe class="video" width="520" height="315" src="https://www.youtube.com/embed/QkkoHAzjnUs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>
    <div class="row column-45">
        <div class="column-50">
            <img src="../img/GTA.jpg" width="300px" class="caratula1">
            <p class="precio"><strong>15,99€</strong></p>
        </div>
        <div class="column-50">
            <p class="caratula2"><strong>Personajes:</strong></p>
            <p class="per"><strong>Franklin Clinton:</strong> Es un joven ladrón de coches que trabaja para un concesionario de automóviles.</p>
            <p class="per"><strong>Michael De Santa:</strong> Michael es un ex ladrón de bancos que se retiró después de un robo fracasado.</p>
            <p class="per"><strong>Trevor Philips</strong>  Trevor es un ex compañero de Michael y un psicópata que vive en una caravana en las afueras.</p>
        </div>
    </div>
</body>
<footer>
    <p></p>
</footer>
</html>