<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.videojocs.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap" rel="stylesheet">
    <link rel="icon" href="../img/NBA2K23.jpg">
    <title>NBA 2K24</title>
</head>
<header>TOP 5 VIDEOJUEGOS</header>
<body>
    <div class="row">
        <div class="column-100">
            <h4><strong>NBA 2K24</strong></h4>
            <p>NBA 2K24 es un videojuego de baloncesto de 2024 desarrollado por Visual Concepts y publicado por 2K, basado en la Asociación Nacional de Baloncesto (NBA). Es la entrega número 24 de la franquicia NBA 2K y es el sucesor de NBA 2K23. El juego se lanzó el 9 de septiembre de 2023 para Microsoft Windows, Nintendo Switch, PlayStation 4, PlayStation 5, Xbox One, Xbox Series X/S y Android. NBA 2K24 Arcade Edition se lanzó en Apple Arcade el 18 de octubre.</p>
        </div>
    </div>
    <div class="row">
        <div class="column-55">
            <nav>
                <ul>
                  <li><a href="../index.html">Página principal</a></li>
                  <li><a href="../view/videojoc1.html">Grand Theft Auto V</a></li>
                  <li><a href="../view/videojoc2.html">EA FC 24</a></li>
                  <li><a href="../view/videojoc4.html">F1 24</a></li>
                  <li><a href="../view/videojoc5.html">Raimbow Six Siege</a></li>
                </ul>
            </nav>
        </div>
        <div class="column-45">
            <iframe class="video" width="520" height="315" src="https://www.youtube.com/embed/OJS1BVniz5c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>
    <div class="row column-45">
        <div class="column-50">
            <img src="../img/2k.jpeg" width="300px" class="caratula1">
            <p class="precio"><strong>25,99€</strong></p>
        </div>
        <div class="column-50">
            <p class="caratula2"><strong>Top-3 jugadores</strong></p>
            <p class="per"><strong>Giannis Antetokounmpo:</strong> Jugador griego que juega como delantero para los Milwaukee Bucks de la NBA.</p>
            <p class="per"><strong>Stephen Curry:</strong> Jugador estadounidense que juega como base para los Golden State Warriors de la NBA.</p>
            <p class="per"><strong>Kevin Durant:</strong> Jugador estadounidense que juega como delantero para los Brooklyn Nets de la NBA. </p>
        </div>
    </div>
</body>
<footer>
    <p></p>
</footer>
</html>